@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background: #fafafa;
    color: #222;
}

header {
    width: 900px;
    background: #333;
    margin: auto;
}

.topo-sistema {
    width: 900px;
    margin: auto;
    margin-bottom: 15px;
    
    color: #fff;
    padding: 15px 25px;

    display: flex;               /* FLEX */
    flex-direction: row;         /* Alinha lado a lado */
    justify-content: space-between;  /* Título à esquerda / Botão à direita */
    align-items: center;
}

.topo-sistema h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

/* Botão */
.btn-abrir-Tarefas {
    padding: 10px 18px;
    background: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

    display: flex;       /* ícone + texto sempre alinhados */
    align-items: center;
    gap: 8px;

    transition: .2s ease;
}

.btn-abrir-Tarefas:hover {
    background: #43A047;
    transform: translateY(-2px);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
}



h2 {
    text-align: center; 
}
table {
    border-collapse: collapse;
    width: 900px;
    margin: 0 auto; 
}

th, td {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

th {
    border-bottom: 2px solid #000;
    background: #f5f5f5;
    text-align: left;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.link-icon {
    color: inherit;
    text-decoration: none;
}

.link-icon:hover {
    color: red;
}