@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px;
    background: #fafafa;
    color: #222;
}

h2 {
    text-align: center; 
}
table {
    border-collapse: collapse;
    width: 900px;
    margin: 0 auto; 
}

th, td {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

th {
    border-bottom: 2px solid #000;
    background: #f5f5f5;
    text-align: left;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.link-icon {
    color: inherit;
    text-decoration: none;
}

.link-icon:hover {
    color: red;
}